@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-style: normal;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --primary-color:#FFFFFF;
    
    --secondary-color:#000000;
    --third-color:#202020;
    --forth-color:#808080;
    --bg-orange:#FEA301;
    --bg-skyblue:#01ACFD;
    --bg-skyblue-light:#05D4DF;
    --bg-blue:#5D58EF;
    --bg-back:#111111;
  }

  /* sheared style  */

  .btn-primary{
    background-color: var(--bg-orange);
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    color: var(--primary-color);
}

  .btn-secondary{
    background-color: var(--bg-back);
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    margin-top: 15px;
  }

  
    
    
    /* nav style  */
  
  .nav-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }

  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .logo-img{
    width: 60px;
    height: 60px;
  }

  .logo-title{
    color: var(--bg-back);
    font-size: 2rem;
    font-weight:bold ;
    line-height: 1.6rem;
  }
  .nav-ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }
  .orang-part{
    color: var(--bg-orange);

  }
  .skyblue-part{
    color: var(--bg-skyblue);
  }
  .skyblue-light{
    color: var(--bg-skyblue-light);

  }
  .blue-part{
    color: var(--bg-blue);
  }
  
  .nav-icon{
    display: none;
  }

  /* banner style  */

  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .banner-content{
    width: 580px;
    
  }

  .banner-img{
    width: 400px;
    
    height: 500px;

  }
  .inner-img{
    width: 100%;
    height: 100%;
  }

  .banner-title{
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.5rem;
  }

  .banner-des{
    font-size: 1rem;
    color: var(--bg-back);
    margin-top: 15px;

  }

  /* curriculum style  */

.Curriculum{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(assets/bg.png);
  
  background-position: center;
  
  
}

.Curriculum-inner{
  width: 1200px ;
  margin: 50px auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.Curriculum-title{
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
}
.Curriculum-card{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
  width: 1200px;
  gap: 25px;
  
}
.card-box, .card-box-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.card-box{
  border-radius: 12px;
}
.card-box-inner{
  width: 300px;
  padding: 10px;
  
  
  
  
  
}
.card-img{
  width: 120px;
  height: 120px;
  margin-top: 50px;
}
.card-title{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-top: 20px;
  color: var(--third-color)
}
.card-des{
  font-size: 1rem;
  color: var(--forth-color);
  font-weight: 400;
  margin-top: 20px;
}

.card-btn{
  background: none;
  border: none;
  margin-top: 50px;
  font-size: 0.8rem;
  font-weight: bold;
}

.bg-gr1{
  background-image: linear-gradient(to bottom, #82d0f1 0%, rgba(255, 255, 255, 0) 40%);

}
.bg-gr2{
  background-image: linear-gradient(to bottom, #552e9e 0%, rgba(255, 255, 255, 0) 40%);

}
.bg-gr3{
  background-image: linear-gradient(to bottom, #f32b4d 0%, rgba(255, 255, 255, 0) 40%);

}

.Curriculum-foot{
  margin-top: 60px;
}
.lt-lg{
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  color: var(--primary-color);
  background: var(--bg-orange);
  font-size: 26px;
  margin-right: 20px;
  text-align: center;
}
.lt-lg:hover{
  background-color: burlywood;
}

.our-stories{
  width: 100%;
  background-image:  url(assets/bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
 
 
  
}

 

.our-stories::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(254, 163, 1 ,0.6) 100%);
  z-index: -1;
}

.story-section{
  width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



.stories-body{
  display: flex;
  justify-content: space-around;
  
  
  
  gap: 18px;
}
.second-card{
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 18px;
  
}

#first-card{
  width: 500px;
  background-color: #FFFFFF;
  border-radius: 12px;
}
 .story-img{
  width: 100%;
  border-radius: 16px 16px 0 0;
 }
 .stories-title{
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 50px;
 }
 .stories-img-des{
  padding: 10px;
 }
 .stories-btn{
  position: absolute;
  border: none;
  background-color: var(--bg-orange);
  padding: 10px 10px;
  border-radius: 50px;
  margin-top: -2rem;
  font-size: 0.5rem;
  color: #FFFFFF;
 }
 .stories-subtitle{
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  margin-top: 20px;
 }
 .stories-des{
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  margin-top: 50px;
 }
 .stories-card{
  background-color: var(--primary-color);
  border-radius: 16px;
 }

 .story-btn{
  margin-top: 80px;
  margin-bottom: 80px;
 }

 .btn-color1{
   background-color: var(--bg-skyblue);
 }
 .btn-color2{
   background-color: var(--bg-blue);
 }
 .btn-color3{
   background-color: var(--bg-skyblue-light);
 }
 



  










  /* responsive media query */
  @media screen and (max-width:576px){
    .nav-items, .btn-primary, .logo-title{
        display: none;
    }
    .nav-icon{
        display: block;
    }
    .nav-div{
        justify-content: space-between;
    }
    .nav{
        width: 100%;
        padding: 5px;
        border: 1px solid orange;
        
    }
    .nav-icon> i {
        width: 30px;
        

    }

    .banner{
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 5px;
    }
    .banner-content {
      width: 100%;
    }
    .banner-img{
      width: 80%;
    }
    .inner-img{
      width: 90%;
    }

    .curriculum{
      background-size: 100% 100%;
    }

    .Curriculum-card{
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      margin: 10px;
      
      width: 80%;
    }
    .Curriculum-foot{
      display: none;
    }
    #first-card{
      display: none;
    }

    .our-stories{
      background-size: cover;
      padding: 20px;
    }
    .story-section{
      width: 100%;
      padding: 10px;
    }
    .stories-body{
      flex-direction: column;
      gap: 20px;
    }
    .second-card{
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .second-card>*{
      margin: 0 auto;
    }
    .stories-card{
      width: 100%;
    }
    .stories-title{
      font-size: 1.5rem;
    }
    
    
  }
